.card-img-top {
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.card-img-top:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card {
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.property-card {
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.property-title {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-right: 5px;
  color: #6610f2;
  font-size: 16px;
}

.address-content {
  margin-left: 5px;
  line-height: 1.2;
}

.pill-container {
  padding-left: 0;
  margin-top: 20px;
}
.pill-style {
  background-color: white;
  padding: 10px 20px;
  border-style: solid;
  border-width: 0.5px;
  border-color: darkgrey;
  box-shadow: 0 6px 6px -6px darkgrey;
  font-size: 14px;
  color: #6610f2;
}
.address-row {
  margin-top: 20px;
  margin-left: 2px;
  color: #6c757d;
  font-size: 16px;
}

.pill-card {
  padding-right: 0px;
  flex-grow: 0;
}

.paymentType-style {
  font-size: 14px;
  font-weight: 600;
  color: #6c757d;
  line-height: 1.5;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 0px;
}
